<!DOCTYPE html>
{% load static %}
<!-- Created By CodingNepal -->
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Navigation Bar</title> -->
    <link rel="stylesheet" href="{% static 'blog/css/nav.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <ul>
<li class="logo">Image Wording Generator</li>
<li class="items"><a href="/">Home</a></li>
<li class="items"><a href="{% url 'about' %}">About</a></li>
<li class="items"><a href="{% url 'contact' %}">Contact</a></li>
{% if request.user.is_authenticated %}
  <li class="items"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="items"><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
  <li class="items"><a href="{% url 'signup' %}">SignIn</a></li>
  <li class="items"><a href="{% url 'login' %}">Login</a></li>
{% endif %}
<li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
</ul>
</nav>
    <script>
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.items').toggleClass("show");
          $('ul li').toggleClass("hide");
        });
      });
    </script>
  </body>
</html>
